@font-face {
  font-family: "Raleway";
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  font-style: normal;
  color: #444444;
  background-color: #fbf7f4;
}

.page-header {
  color: #000000;
  background-color: #FFE17F;
}

.search-input {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  font-style: normal;
  color: #000000;
}

.search-button {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  font-style: normal;
  color: #000000;
}

.catalogue-button {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-style: normal;
  color: #000000;
  text-transform: uppercase;
}

.navigation-link {
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  font-weight: 800;
  color: inherit;
  background-color: #FFE17F;
  text-decoration: none;
  text-transform: uppercase;
}

.user-menu {
  text-align: center;
  color: inherit;
  background-color: #FFE17F;
  text-decoration: none;
}

.slider-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  color: #000000;
}

.features-def {
  font-size: 36px;
  color: #000000;
}

.features-term {
  font-size: 16px;
}

.product-category-link {
  font-family: "Raleway", sans-serif;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
  text-decoration: none;
}

/*тут могут быть кнопки к доставка и т.д*/
.advantages-item-button {
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  font-weight: 800;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}

.advantages-item {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  color: #000000;
}

.delivery-special-offer {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  line-height: 23px;
  font-weight: 800;
  color: #000000;
  text-decoration: none;
  text-align: center;
}

.companies-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  color: #000000;
}

.companies-item {
  line-height: 20px;
  font-weight: 700;
  color: #000000;
}

.button {
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  color: #000000;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
}

.contacts-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  color: #000000;
}

.contacts-subtitle {
  font-size: 24px;
  font-weight: 700;
}

.contacts-phone {
  font-style: normal;
  color: #444444;
}

.newsletter-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  color: #000000;
}

.email-input {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  font-style: normal;
  color: #444444;
}

/*тут кнопка подписаться*/
.email-button {
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  font-weight: 800;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}

.main-footer {
  color: #FFFFFF;
  background-color: #444444;
}

.footer-contacts-address {
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
  color: #FFFFFF;
  background-color: #444444;
}

.footer-contacts-phone {
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
  color: #FFFFFF;
  background-color: #444444;
}

.menu-footer-link {
  color: inherit;
  background-color: #444444;
}

.media {
  color: #FFFFFF;
  background-color: #444444;
  text-decoration: none;
  text-transform: uppercase;
}
